* {
  margin: 0px;
  padding: 0px;
}



#sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 37vh;
  height: 100vh;
  background-color: #fafafa;
  left: -37vh;
  transition: all 500ms linear;
  z-index: 1000;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.3), 20px 0px 40px 0px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0px;
}

#sidebar .toggle-btn {
  position: absolute;
  margin-left: 10px;
  left: 100%;
  top: 10px;
  cursor: pointer;
  transition: all 0.9s;
}

#sidebar .toggle-btn span svg {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  color: rgba(34, 0, 80, 1);
  background-color: #fff;
  transition: all 0.9s;
}

#sidebar .toggle-btn span svg:hover {
  color: #ffff;
  background-color: rgba(34, 0, 80, 1);
  border: 1px solid;
  transition: all 0.9s;
}

#sidebar .containerProfile {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:end ;
  position: relative;
  width: 100%;
  height: 37%;
  padding: 10px 22px;
  background-color: #4e3378;
  border-bottom-right-radius: 28%;

}

#sidebar .containerProfile .logo {
  width: 40%;
  height: 35%;
  border-radius: 100%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

#sidebar .containerProfile img {
  width: 160px;
  height: 180px;
}

#sidebar .containerProfile h3 {
  padding-top: 8%;
  color: white;
  font-size: 130%;
  font-weight: 400;
}

#sidebar .containerProfile p {
  color: rgba(255, 255, 255, 0.79);
  font-size: 90%;
}

#sidebar .navbarItems {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1.5rem;
  padding: 0 15px;
  margin-top: 50%;
}


#sidebar .navbarItems a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 15px;
  width: 100%;
  font-size: 18px;
  color: #727272;
  padding: 8px 0;
  border-radius: 5px;
  text-align: center;
}

#sidebar .navbarItems a svg {
  width: 22px;
}

#sidebar .navbarItems > a:hover {
  background-image: linear-gradient(to right, #35155d, #4e3378, #685194, #8371b0, #9f91cc);
  color: white;
}

#sidebar .navbarItems > a.itemActive {
  background-image: linear-gradient(to right, #35155d, #4e3378, #685194, #8371b0, #9f91cc);
  color: white;
}

/*LOG OUT*/

ul{
  list-style-type: none;
  padding: 8px 0;
  width: 100%;
  margin-top: 15%;
}

li a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #4e3378;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  
}

ul span:hover{
  color: white;
}

.cta:hover:before {
  width: 100%;
  background: linear-gradient(to right, #35155d, #4e3378, #685194, #8371b0, #9f91cc);
  color: white;
}

.cta:active {
  transform: scale(0.96);
}
