:root {
    --background-color: #ffffff;
    --background-color-navbar: #fafafa;
    --background-fill: #F1EFEF;
    --background-stroke: #D9D9D9;
    --background-btn-primary: #8626FF;
    --background-btn-primary-hover: #512da8;
    --background-btn-secondary: #00A3D7;
    --background-btn-secondary-hover:#2e86c1;
    --background-btn-secondary2: #10B0C2;
    --background-btn-third: #5272E9;
    --background-btn-delete-appointment: #F35D5D;
    --letter-color-main-dark: #272727;
    --letter-color-subtitle: #878787;
    --letter-color-text: #ffff;
    

    /* Dark Mode Styles */

    /* --background-color-darkMode:#2c3e50;
    --letter-color-darkMode: #ffff; */
};

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.bodyTeachers {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  font-family: "Ubuntu", sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: var(--background-color-nav-bar);
}

.nav {
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-bar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.nav-bar .imagenLogo img {
  width: 100%;
  border-radius: 25px;
  padding: 15px;
  max-height: 170px;
}

.nav-bar .nav li {
  list-style: none;
  padding: 25px 10px;
  color: var(--letter-color-subtitle);
  font-size: 18px;
  font-weight: 700;
  transition: all ease 0.2s;
}

.nav-bar .nav li:hover {
  background-color: var(--background-btn-primary);
  color: #ffff;
  transition: all ease 0.2s;
}

.nav-bar .nav li.iconActive {
  background-color: var(--background-btn-primary);
  color: white;
  transition: all ease 0.2s;
}

.nav-bar .nav li.iconActive:hover {
  background-color: var(--background-btn-primary-hover);
  transition: all ease 0.2s;
}

.nav-bar .nav li svg {
  margin: 0 20px;
}

.nav-bar .nav a {
  text-decoration: none;
  width: 100%;
}

.nav-bar .logOut{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.nav-bar .logOut button{
  width: 50%;
  padding: 15px 10px;
  text-decoration: none;
  color: grey;
  background-color: var(--background-color-nav-bar);
  border: none;
  font-size: 19px;
  font-weight: 900;
}

.cap {
  color: var(--background-btn-primary);
}

hr {
  border: solid 1px black;
}

.containerSwitch {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  padding: 10%;
}

/* Styles Mood*/

/* .dark {
  background-color: var(--background-color-darkMode);
  color: var(--letter-color-darkMode);
}

.switch {
  position: relative;
  display: inline-block;
  align-items: end;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-btn-primary);
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top: 3px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffdb70;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffdb70;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Container Right Teachers */
.container-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 25px;
  box-shadow: -4px 0px 7px -3px rgba(64, 62, 64, 15%);
}

.headers {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.headers .header1 {
  display: flex;
  width: 100%;
  height: 125px;
  align-items: center;
  padding: 5px 0;
  gap: 9px;
}

.headers .header1 i {
  color: var(--background-btn-primary);
  font-size: 35px;
}

.headers h3 {
  margin: 0;
  font-size: 23px;
  color: var(--letter-color-main-dark);
}

.headers .header2 {
  display: flex;
  width: 100%;
  height: 125px;
  align-items: center;
  justify-content: end;
  padding: 5px 25px;
  gap: 15px;
}

.headers .header2 img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: all ease 0.7s;
}

.headers .header2 img:hover {
  width: 85px;
  height: 85px;
  transition: all ease 0.7s;
  border: 2px solid var(--background-btn-primary);
}