body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-cards {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 90vw;
    height: 90vh;
    padding-top: 50px;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h1 {
    font-size: 35px;
    margin: 0;
    opacity: 0;
}

.panel p{
    opacity: 0;
}

.panel.active {
    flex: 3;
    opacity: 0.8;
    padding: 3%;
}

.panel.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active p{
    opacity: 1;
}

  /* cards de resultados de result test */

  .container-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    width: 100%;
    height: 100%;
    
  }

  .content-result{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .design-result{
    overflow-y: scroll;
    height: 200px;
    width: 400px;
    border: 1px black solid;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .design-result ul{
    padding: 2px;
    margin: 0;
  }
  .design-result h1{
    text-align: center;
  }

  .design-result::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }

  .design-result::-webkit-scrollbar-track {
      background: #f1f1f1; /* Color de la pista de desplazamiento */
  }
  .design-result::-webkit-scrollbar-thumb {
      background: #888; /* Color de la manija de desplazamiento */
  }

  .design-result::-webkit-scrollbar-thumb:hover {
      background: #555; /* Color de la manija de desplazamiento al pasar el ratón por encima */
  }

@media (max-width: 480px) {
    .container {
        width: 100vw;
        transition: opacity 0.3s ease-in 0.4s;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
