body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-cards {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 90vw;
    height: 90vh;
    padding-top: 50px;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h1 {
    font-size: 35px;
    margin: 0;
    opacity: 0;
}

.panel p{
    opacity: 0;
}

.panel.active {
    flex: 3;
    opacity: 0.8;
    padding: 3%;
}

.panel.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active p{
    opacity: 1;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
        transition: opacity 0.3s ease-in 0.4s;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
