* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* Cards de citas agendadas */

.cards-home {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    max-height: 70vh;
    width: 100%;
}

.card-home {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width: 400px;
}

.card-home:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-home * {
    margin-bottom: 5px;
    font-size: 110%;
}

.codersData{
    display: flex;
}

.codersData-text{
    display: flex;
    flex-direction: column;
    font-size: 140%;
    flex-wrap: wrap;
}

.eventsData{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reason{
    text-align: center;
}


.delete-appointment {
    background-color: var(--background-btn-delete-appointment);
    border: solid var(--background-btn-delete-appointment);
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 80%;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.delete-appointment:hover {
    background-color: rgba(243, 93, 93, 0.9);
}

.update-appointment{
    background-color: rgb(1, 57, 161);
    border: solid rgb(1, 57, 161);
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 80%;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.update-appointment:hover {
    background-color: rgba(15, 0, 223, 0.9);
}


.buttons {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

/* Tabla de reportaje */


.table-report-home {
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
}

th,
td {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

th {
    background-color: #1f1e1e;
    color: white;
}

td {
    font-size: 100%;
    background-color: rgb(224, 224, 224);
}

.table-report-home tr:nth-child(even) {
    background-color: #b1afaf;
}

#search{
    display: none;
}


/* Responsive para Telefonos */

@media (max-width: 768px) {
    .cards-home {
        grid-template-columns: repeat(auto-fill, minmax(2, 1fr));
        gap: 5% 3%;
        font-size: 60%;
    }

    .card-home {
        margin-bottom: 20px;
    }

    .reschedule,
    .delete-appointment {
        font-size: 10%;
    }

    .table-report-home {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
    }
}
