html {
    background: rgba(27, 0, 50, 1);
}


/* container para las waves */
.container-wave{
    position: relative;
    
}

.content-wave{
    background-color: #3f337e;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.content-wave-1{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: -4%;
}

.container-down{
    width: 100%;
    background-color: #f3f3f3;
    height: 200px;
}

.title-test{
    color: aliceblue;
    margin-top: 100px;
}

/* cards */

.container-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    bottom: 217px;
}

.cards{
    background-color: rgba(240, 248, 255, 0.486);
    width: 310px;
    height: 310px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: end;
    padding: 10px;
    text-align: center;
    color: rgb(17, 17, 17);
   
    
}
.cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}
.cards:hover{
    background-color: rgb(19, 19, 19);
    transition: 0.4s;
    color: white;
}
.cards-p:hover{
    display: none;
}


.container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content-test{
    background-color: rgb(255, 251, 246);
    width: 600px;
    height: 330px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 220px;
}
.modal-body{
    display: flex;
    justify-content: center;
}
.contentInfoTest{
    text-align: left;
}
.btn-siguiente{
    border-radius: 5px;
    padding: 2px;
}
.container-test{
    position: absolute;
}

.slider-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
    height: 480px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
    height: 560px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
    height: 665px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.slider-img.active {
    width: 766px !important;
    height: 750px !important;
}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
    display: block;
}

.containerMessage {
    width: 100%;
    height: 10%;
}

.modal-title{
    margin: auto;
}
.imgs-cards{
    width: 100px;
}
.container-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
}
.pregunta-test{
    width: 80%;
}
/* Ocurtar el container de las cards */
