*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* Registros */
.container-right{
  background-color: #f4f4f4;
}
.estudent-img{
  background-position: cover;
}

.container-img-p{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;
  
}
.container-img-p p{
  font-size: 30px;
  margin: 0;
}
.info{
  display: flex;
  justify-content: center;
}
.content-center{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.container-registros::-webkit-scrollbar {
  width: 6px; 
}

.container-registros::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 3px; 
}

.container-registros::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; 
}
.container-registros{
  background-color: white;
  padding: 20px 30px;
  height: 400px;
  overflow-y: auto
}
.modal-footer{
  gap: 10px;
  padding: 20px;
}
.modal-footer button{
  background-color: #7f00ff;
  border: none;
  border-radius: 20px;
}
.modal-footer button:hover{
  background-color: #5300a6;
  border: none;
}
.container-title{
  display: flex;
  justify-content: space-between;
}
.container-title div{
  display: flex;
}
.container-title img{
  display: flex;
}
.registroInfo{
  width: 60%;
  height: 20px;
  overflow: hidden;
}

.registros h2 {
  font-size: 30px;
  padding: 20px;
  margin: 0;
}
.registros-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fechaEntrevista{
  width: 15%;
}
.registroEspecifico {
  display: flex;
  justify-content: space-between;
  margin: 10px;
 }

.registroEspecifico button {
  position: relative;
  background-color: rgb(210, 210, 210);
  border: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}





.secciones a {
  background-color: white;
  color: black;
  text-decoration: none;
}

.secciones a:hover {
  background-color: #8626ff;
  color: white;
}

.btnCrearRegistro {
  background-color: #8626ff;
  border: #8626ff;
  border-color: #6f1fcf;
  color: rgb(255, 255, 255);
  height: 40px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.btnatras {
  background-color: #8626ff;
  border: #8626ff;
  position: fixed;
  left: 91.2%;
  bottom: 4%;
  border-color: #6f1fcf;  
  padding: 4px 22px;
  cursor: pointer;
  border-radius: 5px;
}
.perfil-clan{
  color: rgb(115, 115, 115);
}

.seccionesPerfil {
  list-style: none;
  padding: 20px 10px;
  color: rgb(0, 0, 0);
  margin-top: 3%;
}

.seccionesPerfil.iconActive {
  background-color: #7f00ff;
  color: white;
  border-radius: 15px;
}

.seccionesPerfil {
  padding: 20px;
}

.seccionesPerfil:hover {
  background-color: #6f1fcf;
  color: white;
  border-radius: 15px;
}

.navbar .nav a {
  text-decoration: none;
}

.perfil img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.nombreUsuario{
  margin: 0 2px 2px 2px;
}

.edadUsuario{
  color: rgb(78, 78, 78);
}

/* Estilo para el texto que se muestra en Ver Más */

/* .textarea{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente blanco */
/*   border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
/*} */

